@model ManufacturerViewModel

<h3 class="bg-success text-white text-center p-1">Create a Manufacturer</h3>


<form asp-action="Create" method="post" class="needs-validation">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.EditorForModel()
    <div class="mt-2">
        <button typeof="submit" class="btn btn-primary">Create</button>
        <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
    </div>
</form>