@model Guid

<div class="text-center">
    <h2>Thanks!</h2>
    <p>Thanks for placing order <code>@Model.ToString()</code></p>
    <p>We'll deliver your aircraft as soon as possible.</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return to Store</a>
</div>