@model LoginViewModel

<form asp-action="Login" method="post" class="needs-validation">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="ReturnUrl" />
    <div class="input-group has-validation mb-2">
        <label asp-for="UserName" class="input-group-text"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="invalid-feedback"></span>
    </div>
    <div class="input-group has-validation mb-2">
        <label asp-for="Password" class="input-group-text"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="invalid-feedback"></span>
    </div>
    <button typeof="submit" class="btn btn-primary mt-2">Log In</button>
</form>