<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PlaneStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <nav class="navbar-brand ml-2">PLANES STORE</nav>
    </div>
    <div class="row m-1 p-1">
        <div id="manufacturers" class="col-3">
            @await Component.InvokeAsync("NavigationMenu", new { manufacturerId = Model?.SelectedManufacturer?.Id })
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>