<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PlaneStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css" />
</head>
<body>
    <nav class="navbar bg-dark text-white p-2">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">PLANES STORE</a>
            <div class="d-flex navbar-text text-end">
                @await Component.InvokeAsync("CartSummary")
            </div>
        </div>
    </nav>
    <div class="m-1 p-1">
        @RenderBody()
    </div>
</body>
</html>