<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PlaneStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar bg-dark text-white p-2">
        <span class="navbar-brand ml-2">PLANES STORE</span>
    </nav>
    @RenderBody()
</body>
</html>