<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Planes Store - Administration</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar bg-dark text-white p-2">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">PLANES STORE</a>
            <div class="d-flex navbar-text text-end">
                <a class="btn btn-sm btn-secondary"
                   asp-area=""
                   asp-controller="Home"
                   asp-action="Index">
                    <i class="bi bi-house-door-fill"></i>
                    Back to Store
                </a>
            </div>
        </div>
    </nav>
    <div class="m-1 p-1">
        @RenderBody()
    </div>

    @await Html.PartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml")
</body>
</html>